.calendar {
  width: 100%;
  height: 100%;
}

.pointer {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 25px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
}
.weekday {
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  cursor: pointer;
  padding: 10px 6.6667px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.today {
  color: red; /* Default selected date color */
}

.selected {
  background-color: #1f518f; /* Selected date color */
  color: #fff;
  font-weight: bold;
}
